#bd{
    margin: 20px;
    padding: 30px;
    background-color: rgb(204, 200, 200);
    box-sizing: border-box;
    
}

.bg{
    width: 500px;
    height: 500px;
    background-image: url(https://plus.unsplash.com/premium_photo-1738503913441-492589911717?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
}